.projects {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    text-align: center;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 400px;
    height: 410px;
    padding: 20px;
    width: 100%;
    max-width: 400px;


    background-color: var(--default-purple);

    position: relative;
}

.gitLogo {
    width: 20px;
    height: 20px;

    position: absolute;
    bottom: 5%;
}

.projectText {
    font-weight: 200;
    text-indent: 10px;
    text-align: center;
}