.eduContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 50px;

    gap: 40px;

    width: 100%;
    background-color: var(--light-purple);
}

.eduCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: var(--default-purple);
    box-shadow: var(--background-header) 0px 5px 15px;

    padding: 20px;
    width: 80%;
    max-width: 700px;
}


.ilustration {
    width: 200px;
    height: 190px;
    object-fit: cover;
}

.eduInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
        
}

.eduTitle {
    max-width: 400px;
}