.greetings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.greetings, .greetingsTwo {
    width: 60%;
    max-width: 500px;
}
/* 
.greetings > h1 {
    font-weight: 600;
    
} */

.nameGreetings {
    color: var(--default-purple);
    margin-left: 6px;
}

.greetingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    
}

.specificationGreetings {
    display: flex;
    justify-content: space-between;

    width: 60%;
    max-width: 500px;

    
}

.specificationGreetings > h4 {
    font-weight: 300;
}