.mainContainer {

    margin-top: 70px;

    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

    width: 100%;
    padding: 30px;

    background-color: var(--default-purple);
}

.profileImg {
    width: 500px;
}

.logo {
    width: 20px;
    height: 20px;
}

.ulLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    max-width: 600px;

}

.part2 {
    width: 100%;
    max-width: 800px;
    min-width: 450px;
    
}

.text {
    font-weight: 300;
    text-indent: 10px;
    line-height: 1.5;
    font-size: 20px;
}

@media only screen and (max-width: 1270px) {
    .mainContainer {
        flex-wrap: wrap;
    }

    .part2 {
        max-width: 600px;
    }
}