.contactContainer {
    display: flex;
    gap: 50px;
}

.logo {
    width: 23px;
    height: 23px;
}

.logo:hover {
    cursor: pointer;
}

.ulLogo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-top: 30px;
}

.logoMail {
    width: 25px;
    height: 28px;
    
}


.logoMail:hover {
    cursor: pointer;
}


.pic {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit: cover;
}

.left {
    display: flex;
    flex-direction: column;
}