.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-header);

    min-height: 5vh;
    padding: 20px;

    position: sticky;
    top: 0;
    z-index: 1;

}

.title {
    color: var(--default-purple);
}

.ul {
    display: flex;
    gap: 30px;
}

.a{
    color: var(--light-purple);
}

.a:hover {
    color: aliceblue;

    cursor: pointer;
}

.li {
    display: flex;
    align-items: center;

    position: relative;

    list-style: none;
    margin: 8px;

    
    font-weight: 600;
    
}


.li::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 50%;
    translate: -50% 0;

    
    width: 0;
    background-color: aliceblue;
    height: 2px;
}

.li:hover::after {
    width: 100%;
    transition: 0.3s;
}

.menu {
    display: none;
}

@media only screen and (max-width: 920px) {

    .nav {
        display: none;
    }

    .menu {
        display: block;
    }
}