/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* global */

:root {
    --background-header: rgb(19, 12, 51);
    --default-purple: rgba(77,44,159,1);
    --light-purple: rgb(134, 113, 189);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(125deg, rgba(19, 12, 51, 1) 25%, rgba(77, 44, 159, 1) 100%);
    color: rgb(230, 230, 230);
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 70px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3.2rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 700;

}

h3 {
    font-weight: 500;
    font-size: 1.5rem;

}

h4 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1rem;

}

li {
    list-style: none;
}